:host {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 380px;
  gap: 2rem;
}

.last-10-day-totals-chart-ctn {
  height: 100%;
}

.category-distributions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.date-range-selector {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.date-range-selector input {
  width: initial;
}

.distribution-chart {
  max-width: 400px;
}
