<div class="last-10-day-totals">
  <h2>Last 10 days expenses</h2>
  <div class="last-10-day-totals-chart-ctn">
    <canvas
      *ngIf="dayTotalsChartData"
      baseChart
      [type]="'bar'"
      [data]="dayTotalsChartData"
    ></canvas>
  </div>
</div>

<div class="category-distributions">
  <div class="date-range-selector">
    <label for="from">From</label>
    <input
      id="from"
      type="date"
      [(ngModel)]="from"
      [max]="to"
      (change)="fetchCategoryDistributionReport()"
    />
    <label for="to">To</label>
    <input
      if="to"
      type="date"
      [(ngModel)]="to"
      [min]="from"
      (change)="fetchCategoryDistributionReport()"
    />
  </div>
  <div class="distribution-chart">
    <canvas
      *ngIf="distributionChartData"
      baseChart
      [type]="'doughnut'"
      [data]="distributionChartData"
    ></canvas>
  </div>
</div>
