<div class="toolbar">
  <label for="from">From</label>
  <input
    id="from"
    type="date"
    [(ngModel)]="from"
    [max]="to"
    (change)="fetchReport()"
  />
  <label for="to">To</label>
  <input
    if="to"
    type="date"
    [(ngModel)]="to"
    [min]="from"
    (change)="fetchReport()"
  />
</div>
<div>
  <div class="distribution-chart">
    <canvas
      *ngIf="distributionChartData"
      baseChart
      [type]="'doughnut'"
      [data]="distributionChartData"
    ></canvas>
  </div>
</div>
