<div class="nav">
  <a class="btn back" [routerLink]="['..']">
    <ng-icon name="tablerChevronLeft"></ng-icon>
  </a>
</div>
<h2 class="heading">New Expense</h2>
<form
  class="expense-form"
  [formGroup]="expenseForm"
  (ngSubmit)="handleSubmit()"
>
  <div class="field">
    <label for="subject">Subject</label>
    <input id="subject" type="text" formControlName="subject" />
  </div>
  <div class="field half">
    <label for="amount">Amount</label>
    <input id="amount" type="number" formControlName="amount" />
  </div>
  <div class="field half">
    <label for="date">Date</label>
    <input id="date" type="datetime-local" formControlName="date" />
  </div>
  <div class="field">
    <label for="description">Description</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <div class="field">
    <label for="category">Category</label>
    <select id="category" formControlName="category">
      @for (category of categories; track category.code) {
      <option [value]="category.code">{{ category.label }}</option>
      }
    </select>
  </div>
  <div class="actions">
    <button class="primary" type="submit">Save</button>
  </div>
</form>
