<div class="profile">
  <div class="avatar">
    <img [src]="user.avatar" />
    <div class="overlay" (click)="changeAvatar()">
      <ng-icon name="tablerCamera" size="1.5rem"></ng-icon>
    </div>
  </div>
  <h2 class="welcome">{{ user.displayName }}</h2>
</div>
<nav>
  <ul>
    @for (item of items; track $index) { @if (item.path) {
    <a class="item" [routerLink]="item.path" routerLinkActive="active">
      <li>
        <ng-icon [svg]="item.icon" size="1.5rem"></ng-icon>
        <span>{{ item.label }}</span>
      </li>
    </a>
    } @else if (item.action) {
    <button class="item" (click)="item.action()">
      <li>
        <ng-icon [svg]="item.icon" size="1.5rem"></ng-icon>
        <span>{{ item.label }}</span>
      </li>
    </button>
    } }
  </ul>
</nav>
