.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar .right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
button.toggle-filter {
  background-color: var(--grey-100);
  padding: 8px 11px;
}
.btn.new-expense {
  display: flex;
  align-items: center;
  gap: 5px;
}

.expenses-table {
  width: 100%;
  margin-top: 30px;
}
.expenses-table th {
  color: var(--black-200);
}
.expenses-table th,
.expenses-table td {
  padding: 1.5rem 0;
}
.expenses-table td:not(:first-child),
.expenses-table th:not(:first-child) {
  padding-left: 1rem;
}
.expenses-table td:not(:last-child),
.expenses-table th:not(:last-child) {
  padding-right: 1rem;
}
.expenses-table .subject {
  width: 35%;
  text-align: left;
}
.expenses-table .cate {
  text-align: center;
}
.expenses-table .amount {
  text-align: right;
}
.expenses-table .date {
  text-align: center;
}
.expenses-table td.actions {
  text-align: center;
}

.btn-delete:hover {
  color: crimson;
}

.no-expenses {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.expense-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.expense-filter label {
  margin-bottom: 10px;
}
.expense-filter .field.categories,
.expense-filter .actions {
  grid-column: 3 span;
}
.expense-filter .field.categories .list {
  display: flex;
  gap: 2rem;
  margin-top: 5px;
}
.expense-filter .field.categories .option {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.expense-filter .actions button {
  width: 100%;
}
