<div class="toolbar">
  <h2 class="left">My Expense</h2>
  <div class="right">
    <button class="toggle-filter">
      <ng-icon name="tablerFilter" size="1.5rem"></ng-icon>
    </button>
    <a class="btn new-expense" [routerLink]="['new']">
      <ng-icon name="tablerPlus"></ng-icon>
      <span>New Expense</span>
    </a>
  </div>
</div>
<!-- @if (!expenses.length) { -->
<div>
  <table class="expenses-table">
    <thead>
      <tr>
        <th class="subject">Subject</th>
        <th class="cate">Category</th>
        <th class="date">Date</th>
        <th class="amount">Amount</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (expense of expenses; track expense.id) {
      <tr>
        <td class="subject">{{ expense.subject }}</td>
        <td class="cate">{{ expense.category }}</td>
        <td class="date">{{ expense.date | date : "medium" }}</td>
        <td class="amount">{{ expense.amount | currency : "USD" }}</td>
        <td class="actions">
          <button class="btn-delete" (click)="deleteExpense(expense.id)">
            <ng-icon name="tablerTrash" size="20"></ng-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <app-pagination
    (onSelectPage)="fetchExpenses($event)"
    [totalPages]="totalPages"
  ></app-pagination>
</div>
<!-- } @else {
<p class="no-expenses">No expenses found.</p>
} -->
