<div class="toolbar">
  <h2 class="left">My Expense</h2>
  <div class="right">
    <button class="toggle-filter" (click)="toggleFilter()">
      <ng-icon name="tablerFilter" size="1.5rem"></ng-icon>
    </button>
    <a class="btn new-expense" [routerLink]="['new']">
      <ng-icon name="tablerPlus"></ng-icon>
      <span>New Expense</span>
    </a>
  </div>
</div>

<form
  *ngIf="isFilterExpanded"
  [formGroup]="filterForm"
  (ngSubmit)="doFilter()"
  class="expense-filter"
>
  <div class="field">
    <label for="keyword">Keyword</label>
    <input id="keyword" type="text" formControlName="keyword" />
  </div>
  <div class="field">
    <label for="from">From</label>
    <input id="from" type="date" formControlName="from" />
  </div>
  <div class="field">
    <label for="to">To</label>
    <input id="to" type="date" formControlName="to" />
  </div>
  <div class="field categories">
    <span>Categories</span>
    <div class="list" formArrayName="categories">
      <label class="option" *ngFor="let cate of allCategories; let i = index">
        <input
          type="checkbox"
          [id]="'cate-' + cate.code"
          [formControlName]="i"
        />
        <span class="checkmark"></span>
        <span>{{ cate.label }}</span>
      </label>
    </div>
  </div>
  <div class="actions">
    <button type="submit" class="secondary">Filter</button>
  </div>
</form>

<div>
  <table class="expenses-table">
    <thead>
      <tr>
        <th class="subject">Subject</th>
        <th class="cate">Category</th>
        <th class="date">Date</th>
        <th class="amount">Amount</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (expense of expenses; track expense.id) {
      <tr>
        <td class="subject">{{ expense.subject }}</td>
        <td class="cate">{{ expense.category }}</td>
        <td class="date">{{ expense.date | date : "medium" }}</td>
        <td class="amount">{{ expense.amount | currency : "USD" }}</td>
        <td class="actions">
          <a [routerLink]="[expense.id]" class="btn-edit">
            <ng-icon name="tablerPencil" size="20"></ng-icon>
          </a>
          <button class="btn-delete" (click)="deleteExpense(expense.id)">
            <ng-icon name="tablerTrash" size="20"></ng-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <app-pagination [totalPages]="totalPages"></app-pagination>
</div>
